* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgba(211, 211, 211, 0.374);
}

header>div {
    height: 85px;
    width: auto;
    background-color: white;
}

header>div>img {
    padding: 15px;
    margin-left: 8px;
    height: 85px;
}

h1 {
    display: inline;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    vertical-align: 30px;
    margin-left: -10px;
}

nav>div{
    height: 45px;
    background-color: white;
    margin: auto;
    margin-top: 40px;
    max-width: 1300px;
}

nav>div>span {
    border-radius: 5px;
    font-size: 11px;
    padding: 6px;
    vertical-align: -13px;
}

#lightblue {
    border: 1px solid rgb(90, 195, 255);
    background-color: rgb(90, 195, 255);
    color: white;
    margin-left: 40px;
}

#gray {
    border: 1px solid lightgray;  
    color: lightgray; 
}
